@import 'base/_variables.scss';

* {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ul{
        padding-left: 0;
    }
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
    padding: 20px;
}

@import 'blocks/_title.scss';
@import 'blocks/_header.scss';
@import 'blocks/_main_screen.scss';
@import 'blocks/_about_us.scss';
@import 'blocks/_footer.scss';
@import 'blocks/_carousel.scss';
@import "blocks/_table.scss";

@import 'base/_media.scss';